/* Signin.css */

.sign-in {
    background-color: #040a00;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .div {
    background-color: #030701;
    height: 2912px;
    overflow: hidden;
    position: relative;
    width: 1924px;
  }
  
  .overlap-group {
    border-radius: 95px;
    height: 2127px;
    left: 238px;
    position: absolute;
    top: 168px;
    width: 1447px;
  }
  
  .rectangle {
    background-color: #1c1c1c;
    border-radius: 95px;
    height: 2127px;
    left: 0;
    mix-blend-mode: luminosity;
    opacity: 0.79;
    position: absolute;
    top: 0;
    width: 1447px;
  }
  
  .text-wrapper {
    -webkit-text-stroke: 1px #000000;
    color: #ffffff;
    font-family: "Katibeh-Regular", Helvetica;
    font-size: 170px;
    font-weight: 400;
    left: 67px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 187px;
    white-space: nowrap;
    width: 627px;
  }
  
  .frame {
    border: 10px solid;
    border-color: #f1f1f1;
    border-radius: 56px;
    height: 200px;
    left: 90px;
    position: absolute;
    top: 544px;
    width: 1220px;
  }
  
  .div-wrapper {
    align-items: center;
    background-color: #151912;
    display: flex;
    gap: 10px;
    height: 173px;
    justify-content: center;
    left: 65px;
    padding: 10px;
    position: relative;
    top: -73px;
    width: 293px;
  }
  
  .text-wrapper-2 {
    color: #ffffff;
    font-family: "Katibeh-Regular", Helvetica;
    font-size: 80px;
    font-weight: 400;
    height: 60px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: 267px;
  }
  
  /* Add the rest of the CSS styles below based on your design */
  