/* Signup.css */

.sign-up {
    background-image: url('https://i.pinimg.com/564x/43/6f/a7/436fa79228839856714e25f5c9a51c75.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .div {
    background-color: #030701;
    height: 2912px;
    overflow: hidden;
    position: relative;
    width: 1924px;
  }
  
  .overlap-group {
    border-radius: 95px;
    height: 2127px;
    left: 238px;
    position: absolute;
    top: 168px;
    width: 1447px;
  }
  
  /* Rest of the CSS styles remain the same */
  