
.header-two {
  width:100%;
  height:100vh;
}
img .aboutclass{
  height: 100vh;
}
.about-container{
  width:100%;
  height: auto;

  background-color: #F1F1F1;
  
}
.about-container h1{
  font-size:50px
}
.about{
  padding:5% 0;
  width:100%;
  height:auto;
  margin-top: -600px;

  background-color: #fff;
}
.about .left{
  padding:2% 0;
  width:50%;
  display:inline-block;
}
.about .right{
  width:50%;
  display:inline-block;
}
.about .right img{
  width:100%
}
.about .left h1{
  text-align:center;
  color:#1C1C1C;
  margin:0 0 10px 0;
}
.about .left hr{
  width:20%;
  border-top:2px solid #000;
  border-bottom:none;
}
.about .left p{
  font-size:1.5em;
  text-align: justify;
  margin:40px auto;
  width:80%
}

.mission{
  padding:5% 0;
  width:100%;
  height:auto;
  background-color:#fff;
}
.mission .right{
  padding:2% 0;
  width:50%;

  display:inline-block;
}
.mission .left{
  width:50%;
  display:inline-block;
}
.mission .left img{
  width:100%;
}
.mission .right h1{
  text-align:center;
  color:#1C1C1C;
  margin:0 0 20px 0;
}
.mission .right hr{
  width:35%;
  border-top:2px solid #000;
  border-bottom:none;
}
.mission .right p{
  font-size:1.5em;
  text-align: justify;
  margin:40px auto;
  width:80%
}


.team{
  width:90%;
  margin:auto;
  padding:5% 5%;
  overflow: hidden;
}
.team h1{
  text-align:center;
  color:#1c1c1c;
  
}
.team h1 hr{
  width:15%;
  border-top:2px solid #000;
  background-color:transperant;
  border-bottom:none;
  margin-bottom:50px;
}


.teams {
  display:flex;
  align-items:center;
  justify-content:flex-start;
  flex-wrap:wrap;
  text-align:center;
  max-width:90%;
  width:auto;
  border: 1px solid red;
  transition: all 0.3s ease-in-out;
}
.teams .aboutimg {
  margin: 20px;
  min-width: 220px;
  min-height:220px;
  transition: all 0.3s ease-in-out;
}
.show{  
  overflow: hidden;
  position: relative;
  text-align: center;
  display: block;
  border-radius: 4px;
  min-width:220px;
  min-height:220px;
  margin:0 auto;
  z-index:10;
  overflow:visible;
}
.reveal {
    min-width:220px;
    min-height:220px;
    margin:0 auto;
    transition: all 0.3s ease-in-out;
}
.show .mask{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color:white;
  font-family: Josefin Sans;
  top: 0;
  left: 0;
  opacity:0;
  background-color: hsla(141, 45%, 20%,0.5);
  transition: all 0.4s ease-in-out;
}
.show .mask h2 {
  font-size:2em;
  font-weight:900;
}
.show .mask p {
  font-size:1.4em;
}
.show:hover {
    transition: all 0.4s ease-in-out;
}
.show:hover .mask {
  opacity: 13; 
  background-color: rgba(0,0,0, 0.2);
  transition: all 0.4s ease-in-out;
}
.cntrflex {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  text-align:center;
}
.cntr {
    text-align:center;
}
.content {
  padding: 100px 20px;
  background-color:#fff;
  color:#000;
}
.our {
  display: flex;
  justify-content: center;
  border: 2px dotted #73B925;
  margin:20px auto 0 auto;
}
.our .third {
  width: 33.333%;
}
.our .aboutimg {
  width: 21%;
  box-sizing: border-box;

}

@media only screen and (max-width: 768px) {
  .about .left,
  .about .right,
  .mission .left,
  .mission .right {
    width: 100%;
    display: block;
  }

  .about .left p,
  .mission .right p {
    width: 100%;
  }

  .team {
    padding: 5% 1%;
  }

  .show,
  .reveal,
  .teams .fourth {
    min-width: 150px;
    min-height: 150px;
  }
}
@media only screen and (max-width: 1100px) {
  .show, .reveal, .teams .fourth {
    min-width: 220px;
    min-height: 220px;
  }
}
@media only screen and (max-width: 800px) {
  .teams .fourth {
    width:25%;
    min-width: 150px;
    min-height: 150px;
  }
  .show, .reveal, .teams .fourth {
    min-width: 150px;
    min-height: 150px;
  }
  
}


body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.container {
  width: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  font-size: 2.2em;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  color: #333;
  font-size: 1.6em;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 15px;
  font-size: 1em;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input#imageUrl {
  border: 2px solid #ccc;
  padding: 12px 20px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#countryCode {
  width: 100%;
  padding: 15px;
  font-size: 1em;
  margin-left: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-container {
  margin-top: 20px;
  width: 100%;
}

#successMessage {
  display: none;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #f3f3f3;
  color: #1c1c1c;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  font-size: 1.2em;
}

#successMessage p {
  font-size: 1.2em;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .container {
    width: 80%;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #fff;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 6px solid #f1f1f1;
  width: 50%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.tick {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 190px;
  border-radius: 100%;
  background-color: #4CAF50;
  color: #fff;
  font-size: 100px;
}