
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  color: #000;
  width: 100%;
}

.nav-container{
  height: 0auto;
  background-color: red;
  width: 100%;
  /* position: fixed; */

}
.navbar {
  
  width: 100%;
  height: 10vh;
  overflow: hidden;
  background-color: #1C1C1C;
  display: flex;
  align-items: center;

  justify-content: space-around;
}
.image-container{
  justify-content: space-around;

  align-items: center;
  background-color: #1C1C1C;
  display: flex;
  height: 6vh;
  padding: 5px 10px;

  justify-content: space-around;
}
.image-container img{
  list-style: none;
  font-size: 1.2em;
  margin-left: 8rem;
  color: #ffff;
  font-weight: 600;
  margin-top: 1rem;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
}

.navigation {
  /* position: fixed; */
  width: 100%;
  overflow: hidden;
  background-color: #73B925;
  display: flex;
  height: 10vh;
  justify-content: space-around;
  top: 0px; 
}

.navigation img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.navbar-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  color: #fff;
}

.navbar-item {
  margin: 0;
  padding: 0px 20px;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

.navbar-item a {
  font-size: 2.2rem;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  transition: 0.4s ease-in-out;
}

.navbar-item a:hover {
  color: #1c1c1c;
}

nav a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: #949494;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
}

nav a:before,
nav a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

nav a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

nav a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

nav a:nth-child(1):before {
  background-color: #73B925;
}

nav a:nth-child(1):after {
  background-color: red;
}

nav a:nth-child(2):before {
  background-color: #00e2ff;
}

nav a:nth-child(2):after {
  background-color: #89ff00;
}

nav a:nth-child(3):before {
  background-color: purple;
}

nav a:nth-child(3):after {
  background-color: palevioletred;
}

#indicator {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 300px;
  height: 3px;
  background-color: #000;
  border-radius: 15px;
  transition: 0.2s ease left;
}

nav a:hover {
  color: #fff;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator {
  background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator {
  left: 34%;
  background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator {
  left: 70%;
  background: linear-gradient(130deg, purple, palevioletred);
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #463b3b;
  height: 89vh;
}

.header-container,
.text-container-container {
  background-color: #b2bda0; 
  padding: 80px; 
  margin-top: 100px;
  margin-left: 5px;
  margin-right: 5px;
}

.header {
  color: #000;
  text-align: center;
}
@media (max-width: 768px) {
  /*adding responsivnes header height for smaller screens */
  header {
    height: 400px;
  }

  .header-content {
    top: 30%;
  }

  .navbar-item {
    font-size: 1.5em;
    padding: 10px 15px;
  }

  .header-content h1 {
    font-size: 3em;
  }

  /* adding responsivnes font sizes and padding for smaller screens */
  .button-container {
    margin-top: 10px;
  }
}

/* adding responsivness for very small screens */

@media (max-width: 480px) {
  header {
    height: 300px;
  }

  .header-content {
    top: 20%;
  }

  .navbar-item {
    font-size: 1.2em;
    padding: 8px 12px;
  }

  .header-content h1 {
    font-size: 2.5em;
  }

  .button-container {
    margin-top: 5px;
  }
}

/*Home Page*/

.home {
  height: 100vh;
  margin-top: -1rem;
    
}
.container1, .container2, .container3 {
  width: 100%;
  border-radius: 10px;
  height: 28em;
  /* box-shadow: 10px 10px 5px #ccc; */
  /* border: 1px solid hsl(0, 10%, 34%); */
  overflow: hidden;
  /* background-color: rgb(137, 137, 215); */


}

/* Footer */
.bottom-page {
  background-image: url('./assets/footerflower.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #8585b3;
  opacity:8;
  background-blend-mode: hue; */
  height: 19rem;
  z-index: 1;
  position: relative;
  margin: 0;
  padding: 2rem;
  /* left: -4rem; */
  margin-top: 1rem;
  display: flex;
  align-items: center;
  line-height: 1.0em;
  width: 100%;
  
}
.bottom-page li a{
  color: #73B925;
  font-size: 1.5rem;
  font-weight: 600;
}
.bottom-page li a:hover{
  color: #F1F1F1;
}
.bottom-page ul li{
  list-style: none;
  font-size: 1.2em;
  margin-left: 8rem;
  color: #ffff;
  font-weight: 600;
  margin-top: 1.5rem;
}
.footer{
  height: 2rem;
  background-color: #1c1c1c;
  height: 6vh;
  padding: 20px;

}
.footer p{
  text-align: center;
  color: #F1F1F1;
  font-size: 1.1em;
  
}
.social-icons img{
  position: relative;
}

.contact-info{
  
  margin-bottom: 4.5rem;
}


.social-icons b a{
  font-size: 0.8em;
  color: #fff;
}
.social-icons b a img{
  width: 2rem;
  
}

.social-icons h5{
  font-size: 1.2em;
  color: #c9c9c9;
}
.contact-map{
  padding: 0;
  margin-top: -0rem;
  
}
.contact-map iframe{
  width: 100%;
  height: 100%;
}
footer{
  height: 2rem;
  background-color: #1c1c1c;
  margin-top: 0.1rem;
  overflow: hidden;
  height: 4vh;
}
footer p{
text-align: center;
color: #F1F1F1;
font-size: 1.1em;
padding: 6px;
  
}
/*Organization*/
.organization-container {
  height: 300vh;
  width: 100%;
  margin-top: -1rem;
  background-color: blue
}

.organization-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.organization-card {
  flex-basis: calc(50% - 20px);
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #F1F1F1;
  text-align: center;
}

.organization-card img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.organization-card h3 {
  font-size: 1em;
  margin: 0;
  color: #000;
}

.organization-card p {
  margin: 10px 0;
  color: #000;
}

.organization-card button {
  background-color: #272323;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.organization-card button:hover {
  background-color: #000;
}

/* adding responsivnes adjustments for smaller screens */

/* adding responsivnes Two products per row for smaller screens */
@media (max-width: 768px) {
  .product-card {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .product-card {
    flex-basis: calc(100% - 20px);
  }
}

.donate-button {
  background-color: #272323;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}


@media (max-width: 768px) {
  .product-card h3 {
    font-size: 16px;
  }
}



/* media */
@media(max-width:1200px){
  .mission .right p{
     font-size:.8rem;
     margin:20px auto;
  }
  .about .left p{
     font-size:.8rem;
     margin:20px auto;
  }
}


@media(max-width:992px){
  .about .left{
  width:100%; 
}
  .about .right{
  width:100%; 
}
     .mission .left{
  width:100%; 
}
  .mission .right{
  width:100%; 
}
  .team .card{ 
  width:40%;
}   
}

@media(max-width:768px){
     .team .card{ 
  width:100%;
} 
  nav{
     height:80px;
  }
}



/*donate-container*/
.donate-container{
  height: 150vh;
  width: 100%;
  top: 0;
  background-color: #F1F1F1
}
.greenpart{
  height: 12vh;
  background-color: #73B925;
  width: 100;
}
.donate-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.donate-card{
  flex-basis: calc(50% - 20px);
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  height: 80vh;
  margin-top: 15px;

}


.contactme{
  padding: 80px 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #ffff, #F1F1F1) ;
  height: 90vh;
}
.contactme .heading{
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.heading h1{
  color: #1C1C1C;
  font-weight: 700;
  font-size: 50px;
  margin-top: -68px;
}
.contactmeinfo{
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}
.message-me{
  margin-left: 200px;
}
.socialmedia h2{
  margin-top: 28px;
  margin-bottom: 28px;
  color: #1C1C1C;
  font-size: 40px;
}
.socialmedia h4{
  margin-top: 28px;
  margin-bottom: 28px;
  color: #1C1C1C;
  font-weight: 300;
  font-size: 20px;
}
.icons{
  margin-top: 8px;
  margin-bottom: 8px;
}
.icons img{
  width: 30px;

}
.icons a{

  font-size: 20px;
}

.contact-form{
  margin-top: 30px;
  margin-bottom: 30px;
  height: 60vh;
  width: 90vh;
}
.contactmeinfo .contact-form{
  background-color: linear-gradient(to right, #4b95d0, #4645aa);
  height: 60vh;
  width: 90vh;
  background-color: #73B925;
 
 top: 60px;
 margin-right: 100px;
 border-radius: 12px;
 padding: 30px;
}

.firstrow .insertinfo input{
  border-radius: 8px;
  width: 85vh;
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 8vh;
  color: #ffff;
  background-color: #1C1C1C;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.firstrow .insertinfo textarea{
  width: 85vh;
  height: 30vh;
  padding: 10px;
  border-radius: 8px;
  color: white;
  background-color: #1C1C1C;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.submit button{
  border-radius: 8px;
  background-color: #1C1C1C;
  padding: 18px 29px;
  font-size: 20px;
  text-align: center;
 
}
.submit button a{
  text-align: center;
  color: #fff;


}
.submit button a:hover{
  color: #73B925;
}
