.signin-container {
  background-image: url("https://i.pinimg.com/564x/4e/72/16/4e721611d464102bc85e18d5bfaded7d.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-box {
  background-color: rgba(80, 119, 63, 0.733);
  border-radius: 10px;
  padding: 40px;
  width: 300px;
}

.signin-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signin-box label {
  display: block;
  margin-top: 10px;
}

.signin-box input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.forgot {
  text-align: right;
  margin-top: -3px; 
}

.or {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.signin-box button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signin-box button[type="submit"] {
  background-color: #4CAF50;
  color: #FFFFFF;
}

.google-signin {
  background-color: #0c2b0310;
  color: #FFFFFF;
  margin-top: 10px;
}
